$colors: ()
$colors: map_merge($colors, (default: #333333))
$colors: map_merge($colors, (dark: #1A1A1A))
$colors: map_merge($colors, (alternative: #ffffff))
$colors: map_merge($colors, (secondary: #808080))