$colors: ()
$colors: map_merge($colors, (default: #ffffff))
$colors: map_merge($colors, (alternative: #4ab7ef))
$colors: map_merge($colors, (info: #393939))
$colors: map_merge($colors, (secondary: #909090))