/*** SETTING DIFFERENT FONTS TYPES ***/
$fonts: ()
$fonts: map_merge($fonts, (default: "Roboto"))


/*** SETTING DIFFERENT FONTS PATHS ***/

// Global font paths storage
$fonts_paths: ()

$fonts_paths_ttf: ()
$fonts_paths_ttf: map_merge($fonts_paths_ttf, (default: "#{$assets_folder}fonts/Roboto-Regular.ttf"))

$fonts_paths: map_merge($fonts_paths, (ttf: $fonts_paths_ttf))